.ui-sidebar {

  background-color: $sidebar-color;
  position: fixed;
  box-sizing: border-box;
  z-index: 30;
  margin: 0;
  padding: 0;
  bottom: 0;
}

.ui-sidebar-element-container {

  .ui-sidebar-element-label {
    visibility: hidden;
    display: block;
    color: $text-color;
    font-size: $sidebar-text-size;
    font-weight: $sidebar-text-style;
    padding: 26px;
    width: $sidebar-label-width;
  }

  .ui-icon {
    background-size: 32px;
    width: $sidebar-element-size;
    height: $sidebar-element-size;
    float: left;
  }

  @media (max-width: $mobile-small-screen-width) {
    .ui-icon {
      width: $sidebar-element-size-small;
      height: $sidebar-element-size-small;
    }
  }
}

@media (max-width: $mobile-width) {

  .ui-sidebar {

    position: fixed !important;
    left: 0;
    width: 100%;
    text-align: center;
    height: $sidebar-element-size;
    visibility: visible;

    .ui-sidebar-element-container {

      display: inline-block;

      .ui-sidebar-element-label {
        display: none;
      }
    }
    .ui-sidebar-bottom-element {
      display: none !important;
    }
  }

  body .ui-sidebar {
    padding-top: 0 !important;
  }
}

@media (max-width: $mobile-small-screen-width) {
  .ui-sidebar {
    height: $sidebar-element-size-small;
  }
}

@media (min-width: $not-mobile-width) {

  .ui-sidebar {
    width: $sidebar-element-size;
    display: flex;
    flex-direction: column;
    top: 0;
    overflow-y: auto;
    overflow-x: hidden;
    float: left;
    transition: width $transition-speed linear;
    /* For Safari 3.1 to 6.0 */
    -webkit-transition: width $transition-speed linear;

    .ui-sidebar-element-container {
      flex: 0 0 auto;

      &:nth-last-child(2) {
        flex: 1 0 auto;
      }
    }

    &.ui-sidebar-active {

      width: $sidebar-open-width;

      .ui-sidebar-element-label {
        visibility: visible;
        transition: visibility 0ms linear $transition-speed !important;
        /* For Safari 3.1 to 6.0 */
        -webkit-transition: visibility 0ms linear $transition-speed !important;
      }

      a:hover i, .ui-sidebar-element-label {
        transition: color $transition-speed linear;
        /* For Safari 3.1 to 6.0 */
        -webkit-transition: color $transition-speed linear;
      }
    }

    &.ui-sidebar-active.ui-sidebar-small {
      width: $sidebar-element-size;
    }
  }

  .ui-sidebar-has-header {
    margin-top: $header-height;
  }

  .ui-sidebar-left {
    left: 0;
  }

  .ui-sidebar-right {
    right: 0;
  }
}

@media (max-width: $tablet-width) {
  .ui-sidebar {
    padding-top: 64px !important;
  }
}