//Main variables
$base-color: rgb(255, 242, 183);
$active-color: #FBC02D;
$text-color: rgba(240,255,255,1);
$text-alternative-color: #FFFFFF;
$main-background-color: #303030;
$hover-color: #363737;
$transition-speed: 150ms;
$transition-type: ease-in-out;


//Resolution variables
$mobile-width: 470px;
$not-mobile-width: 471px;
$tablet-width: 880px;
$not-tablet-width: 881px;

//Header variables
$header-height: 64px;
$header-background-color: rgba(23, 23, 23, 0.97);

$full-header-logo-width: 200px;

//Sidebar variables
$sidebar-color: $header-background-color;
$sidebar-open-width: 208px;
$sidebar-text-size: 14px;
$sidebar-label-width: 156px;
$ui-text-family: LandingPage, sans-serif;
$sidebar-text-style: bold;
$sidebar-element-size: 64px;
$sidebar-element-size-small: 60px;
// iPhone4/5

//Sidebar variables
$submenu-color: rgba(39, 39, 39, 0.97);

$submenu-title: #181818;
$submenu-width: 170px;
$submenu-mobile-text-size: 1em;
$submenu-scale: scaleX(1);
$submenu-mobile-scale: scaleY(1);

//Panel variables
$header-full-panel-width-media: 1350px;
$header-full-panel-width: 997px;
$header-half-panel-width-media: 881px;
$header-half-panel-width: 645px;
$panel-font-size: 14px;
$transition-speed-panel: 150ms;

$input-color: $text-color;
$input-padding-top: 1em;
$input-padding-bottom: $input-padding-top;

$input-border-bottom-color: 1px solid rgba(255, 242, 183, .25);
$label-top: $input-padding-top;
$input-border-color: $base-color;

$select-option-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .2), 0 1px 1px 0 rgba(0, 0, 0, .14), 0 2px 1px -1px rgba(0, 0, 0, .12);
$select-border-bottom-color: $input-border-bottom-color;
$select-option-background: #FFFFFF;
$select-option-background-active: rgb(238, 238, 238);


$button-text-color: $header-background-color;
$button-default-color: $active-color;
$button-hover-color: $active-color;
$button-animate-opacity: 0.3;
$button-ripple-effect: transform .3s cubic-bezier(0, 0, .2, 1),
                       width .3s cubic-bezier(0, 0, .2, 1),
                       height .3s cubic-bezier(0, 0, .2, 1),
                       opacity .6s cubic-bezier(0, 0, .2, 1),
                       -webkit-transform .3s cubic-bezier(0, 0, .2, 1);
$button-ripple-effect-color: #FFFFFF;
$button-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12), 0 2px 4px -1px rgba(0, 0, 0, .2);

